body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

span {
    color: orangered;
}

#vertical-line-upperleft {
    border-left: 7px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-image-slice: 1;
}

.half-width {
    width: 50%;
    margin: 0%;
}

.half-width img {
    width: 80%;
    margin: 0%;
}

.button-design {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.button-margin {
    margin-top: 40px;
    margin-bottom: 40px;
}

p {
    font-size: 20px;
    line-height: 2px;

}

.flexible-container {
    display: flex;
    margin: 100px;
}

#My-Mission-in-2022-title {
    text-align: center;
}

h2 {
    font-size: 30px;
}

#left-card-mission22 {
    width: 50%;
    margin-right: 2%;
    border-radius: 30px;
    padding: 20px;
    background-color: paleturquoise;
}

#middle-card-mission22 {
    width: 50%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 30px;
    padding: 20px;
    background-color: plum;
}

#right-card-mission22 {
    width: 50%;
    margin-left: 2%;
    border-radius: 30px;
    padding: 20px;
    background-color: peachpuff;
}

#left-card-mission22 img {
    width: 70%;
    margin: 0%;

}

#middle-card-mission22 img {
    width: 70%;
    margin: 0%;

}

#right-card-mission22 img {
    width: 70%;
    margin: 0%;

}

.develop-without-limits img {
    width: 80%;
    margin: 0%;

}


.develop-without-limits-design {
    background-image: url(images/pictures/know-about-global-community-design.png);
    background-repeat: no-repeat;
    background-position: left;
}

.know-about-global-community-design {

    background-image: url(images/pictures/develop-without-limits.png);
    background-repeat: no-repeat;
    background-position: right;
}

#contact-title-center {
    text-align: center;
}

.get-in-touch-design {
    background-image: url(images/pictures/develop-without-limits.png);
    background-repeat: no-repeat;
    background-position: right;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 20px;
}

input, textarea {
    width: 50%;
    padding: 20px;
    margin-bottom: 4%;
}


footer {
    text-align: center;
    background-color: black;
    color: white;

}
#mission22{
    padding-top: 25px;
}
#Last-line-in-footer{
    padding-bottom: 30px;
}